#app{
    display: flex;
    flex: 1;
    align-items: stretch;  
}

.alunos{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.card-aluno{
    display: grid;
    width: 200px;
    height: 300px;
    place-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.card-aluno img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

.card-aluno p{
    font-size: 18px;
}

